# TTS Makinesi
CHATTERBOX_SRC=C:\AI\chatterbox\src
PYTHON_VENV=C:\AI\chatterbox\venv\Scripts\python.exe

# Ortak
WORKSPACE_ROOT=
TTS_LANGUAGE=tr
TTS_EXAGGERATION=0.5
TTS_CFG_WEIGHT=0.5
TTS_TEMPERATURE=0.8
